<head>
    <title>Happy Birthday <%= @name1 %> !!</title>
</head>

<body>
<div class='container'>
    <div class='wrapper'>
    <h1>Happy Birthday <%= @name1 %>!</h1>
    <br>
    <h2>Have a great day, full of joy and happiness</h2>
    <h2> and don't forget to get p***** tonight!!!</h2>
    </br>
    <h2> <%= @name2 %> </h2>
    <img class='center' src='/birthday.png'>
    </div>
</div>
</body>

<footer>
<div class='container'>
<form method='post'>
  <p>Send this ecard to a friend!</p>
  <label>Your Friend's Name</label>
  <input type='text' name='username'>
  <label>Your Friend's Email</label>
  <input type='text' name='useremail'>
  <input type='submit' class='btn btn-success'>
</form>
</div>
</footer>
