
<head>
    <title>Welcome!!</title>
</head>

<body>
<div class='container'>
    <div class='welcome'>
    <h1>Welcome to HBAAS</h1>
    <br>
    <h2>Introduction</h2>
    <p>HBAAS (Happy Birthday As A Service) provides a modern solution to the common problem of wishing happy birthday to people.</p>
    <br>
    <h2>API</h2>
    <h3>/:name/:from</h3>
    <p>Will return "Happy Birthday :name! Have a great day, full of joy and happiness!! :from"</p>
    <p>e.g. anna/paul will return "Happy Birthday Anna! Have a great day, full of joy and happiness!! Paul"</p>
    <br>
    <h3>/party/:name/:from</h3>
    <p>Will return "Happy Birthday :name! Have a great day, full of joy and happiness, and don't forget to get smashed tonight!!! :from"</p>
    <p>e.g. party/anna/paul will return "Happy Birthday Anna! Have a great day, full of joy and happiness and don't forget to get smashed tonight!!! Paul"</p>

    </div>
</div>
</body>

